<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header('Home - Shopme Admin')">
</head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: page_menu">
		</div>
		<div>
			<h2>Manage Users</h2>
			<a th:href="@{/users/new}">Create New User</a>
			&nbsp; | &nbsp;
			<a th:href="@{/users/export/csv}">Export to CSV</a>
			&nbsp; | &nbsp;
			<a th:href="@{/users/export/excel}">Export to Excel</a>
			&nbsp; | &nbsp;
			<a th:href="@{/users/export/pdf}">Export to PDF</a>
		</div>
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		<div>
			<form th:action="@{/users/page/1}" class="row g-3 m-3">
				<input type="hidden" name="sortField" th:value="${sortField}" />
				<input type="hidden" name="sortOrder" th:value="${sortOrder}" />
				<div class="col-auto">
					<label for="keyword" class="col-sm-2 col-form-label">Filter:</label>
				</div>
				<div class="col-auto">
					<input type="search" name="keyword" th:value="${keyword}" class="form-control" id="keyword"/>
				</div>
				<div class="col-auto">
					<input type="submit" value="Search" class="btn btn-primary"/>
					<input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()"/>
				</div>
			</form>
		</div>
		<div>
			<table class="table table-responsive-xL table-hover table-bordered table-striped">
				<thead class="table-dark">
					<tr>
						<th th:replace="fragments :: header_sort('id', 'User ID')" />
						<th>Photo</th>
						<th th:replace="fragments :: header_sort('email', 'Email')" />
						<th th:replace="fragments :: header_sort('firstName', 'First Name')" />
						<th th:replace="fragments :: header_sort('lastName', 'Last Name')" />
						<th>Roles</th>
						<th th:replace="fragments :: header_sort('enabled', 'Enabled')" />
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${listUsers}">
						<td>[[${user.id}]]</td>
						<td>
							<span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-xl icon-silver"></span>
							<img th:if="${user.photos != null}" th:src="@{${user.photoImagePath}}" width="100px"></img>
						</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>
						<td>
							<a th:if="${user.enabled == true}" class="fa-solid fa-circle-check fa-lg icon-green"
								th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
								title="Disable this user"></a>
							<a th:if="${user.enabled == false}" class="fa-solid fa-circle-check fa-lg icon-dark"
								th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
								title="Enable this user"></a>
						</td>
						<td>
							<a class="fa-regular fa-pen-to-square fa-lg icon-green me-3"
								th:href="@{'/users/edit/' + ${user.id}}"
								title="Edit this user">
							</a>
							<a class="fa-solid fa-trash fa-lg icon-red link-delete"
							   th:href="@{'/users/delete/' + ${user.id}}"
							   th:userId="${user.id}"
							   title="Delete this user">
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="text-center m-1" th:if="${totalElements > 0}">
			<span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalElements}]]</span>
		</div>
		<div class="text-center m-1" th:if="${totalElements == 0}">
			<span>No users found</span>
		</div>
		<div>
			<nav>
				<ul class="pagination justify-content-center">
					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: paging_link(1, 'First')"></a>
					</li>
					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: paging_link(${currentPage-1}, 'Previous')"></a>
					</li>

					<th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
						<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
							<a th:replace="fragments :: paging_link(${i}, ${i})"></a>
						</li>
					</th:block>

					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: paging_link(${currentPage+1}, 'Next')"></a>
					</li>
					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: paging_link(${totalPages}, 'Last')"></a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="modal" id="modalDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle"></h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<span id="modalBody"></span>
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesButton">Yes</a>
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center"th:replace="fragments :: footer">
		</div>
	</div>
<script type="text/javascript">
	$(document).ready(function () {
		$(".link-delete").on("click", function (e) {
			e.preventDefault();
			$("#modalTitle").text("Delete Confirmation");
			const userId = $(this).attr("userId");
			$("#yesButton").attr("href", $(this).attr("href"));
			$("#modalBody").text("Are you sure to delete this user " + userId + "?");
			var myModal = new bootstrap.Modal(document.getElementById('modalDialog'), {
				keyboard: false
			});
			myModal.show();
		});
	});

	function clearFilter() {
		window.location = "[[@{/users}]]";
	}

</script>
</body>
</html>